# https://github.com/magiruuvelvet/kiten-albert-integration
/kiten/

# Python cache
__pycache__

# plugin user data
/help/commands.yml
/rdp/config.yml

# private plugins (don't commit)
/jira/

# 3rd party plugins (don't commit, don't mirror)
# (nothing yet)
